
/* General Styles */
body {
    font-family: "papyrus", copperplate, fantasy;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* .swiper-pagination-bullet {
    background-color: white !important;
} */



.product-support-section {
    padding: 40px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.support-container {
    padding: 0 40px;
}

/* Title and Subheadings */
.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.subheading {
    font-size: 24px;
    font-weight: 600;
    color: #444;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 5px;
}

.intro-text,
.text {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #555;
}

/* Lists */
.support-list {
    list-style-type: none;
    padding: 0;
}

.support-list li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #2F1917;
}

.support-list a {
    color: #0066cc;
    text-decoration: none;
}

.support-list a:hover {
    text-decoration: underline;
}

/* Links */
a {
    font-weight: bold;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}



#hero-watch {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#view-details-btn {
    background-color: #2F1917;
    color: white;
}


/* Styling the ticker */
#ticker {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

#ticker-content {
    display: flex;
    animation: scroll-left 15s linear infinite;
}

#ticker-content span {
    padding-right: 100%;
    display: inline-block;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



#myheader2 {
    
    display: flex;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#visitor-count2 {
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#count2 {
    font-weight: bold;
    font-size: 18px;
} 

    /* Hide the visitor count on small and medium screens */
    @media (max-width: 768px) {
        #visitor-count {
            display: none;
        }
    }
    @media (min-width: 768px) {
        #visitor-count2 {
            display: none;
        }
    }
